canvas, svg, #tmpl {
    width: min(100vw, calc(100vh * 16/9));
    position: absolute;
    aspect-ratio: 16/9;
    color: white;
}

html, body {
    margin: 0;
    background-color: black;
    display: grid;
    place-items: center;
    height: 100%;
}

#Fullscreen,#Start {
    fill: #666;
    cursor: pointer;
}

#Fullscreen:hover,#Start:hover {
    fill: red;
}
